PassengerAppRoot /home/u724602277/domains/gold-oyster-258946.hostingersite.com/nodejs
PassengerAppType node
PassengerNodejs /opt/alt/alt-nodejs22/root/bin/node
PassengerStartupFile server.js
PassengerBaseURI /
PassengerRestartDir /home/u724602277/domains/gold-oyster-258946.hostingersite.com/nodejs/tmp
RewriteRule ^\.builds - [F,L]